@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Advent Pro';
  src: local('Advent Pro Regular'), local('AdventPro-Regular'),
  url('/fonts/AdventPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Advent Pro';
  src: local('Advent Pro Bold'), local('AdventPro-Bold'),
  url('/fonts/AdventPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Advent Pro';
  src: local('Advent Pro SemiBold'), local('AdventPro-SemiBold'),
  url('/fonts/AdventPro-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Advent Pro';
  src: local('Advent Pro Thin'), local('AdventPro-Thin'),
  url('/fonts/AdventPro-Thin.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Advent Pro';
  src: local('Advent Pro Medium'), local('AdventPro-Medium'),
  url('/fonts/AdventPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

:root {
  --white: #fdeff9;
  --pink: #ec38bc;
  --violet: #7303c0;
  --dark-blue: #03001e;
  --advent-pro: 'Advent Pro', sans-serif;
}

#root {
  @apply flex font-advent-pro;
  background: var(--dark-blue); /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, var(--white), var(--pink), var(--violet), var(--dark-blue)); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, var(--white), var(--pink), var(--violet), var(--dark-blue)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  @apply m-0 p-0 box-border;
}

main {
  @apply min-h-screen;
}

canvas {
  @apply min-h-screen;
}
