@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Advent Pro';
  src: local('Advent Pro Regular'), local('AdventPro-Regular'),
  url('/fonts/AdventPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  @apply m-0 p-0 box-border;
}

main {
  @apply min-h-screen;
  font-family: 'Advent Pro', sans-serif;
  background: #03001e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #fdeff9, #ec38bc, #7303c0, #03001e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #fdeff9, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

canvas {
  @apply min-h-screen;
}
